#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #242424;
}

.clock {
  width: 480px;
  margin: auto;
}
.clock-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.clock-column {
  width: 40px;
  height: 40px;
  flex-grow: 1;
  font-size: 22px;
}
